*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body{
  background-color: #F6F5F5
}

.ImgST {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  border: 3px solid #e7e0e0 ;
}

.Box{
  width: 100%;
  height: 90px;
  background-color: #FFFFFF;
  border-radius: 30px;
  border: 3px solid #d9d2d2 ;
  margin-top: 2rem;
  transform: scale(0.95);
}

.gallery {
  width: 95%;
  max-width: 1500px;
  display:grid;
  gap: 10px;
  margin-inline: 50px;
  margin-top: 45px;

}

.gallery > .card {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgb(107, 104, 104);
}



@media screen and (max-width: 6501px){
  .gallery {
    grid-template-columns: repeat(10, 39.7%);
    grid-auto-rows: 60%;
  }
  .ImgST {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 5000px){
  .gallery {
    grid-template-columns: repeat(10, 29.5%);
    grid-auto-rows: 50%;
  }
  .ImgST {
    transform: scale(0.97);
  }
}

@media screen and (min-width: 3001px) and (max-width:4600px) {
  .gallery {
    grid-template-columns: repeat(9, 21.5%);
    grid-auto-rows: 40%;
  }
  .ImgST {
    transform: scale(0.98);
  }
}

@media screen and (min-width: 1601px) and (max-width:3000px) {
  .gallery {
    grid-template-columns: repeat(6, 19.5%);
    grid-auto-rows: 28%;
  }
  .ImgST {
    transform: scale(0.98);
  }
}

@media screen and (min-width: 1024px) and (max-width:1600px) {
  .gallery {
    grid-template-columns: repeat(5, 19%);
    grid-auto-rows: 30%;
  }
  .ImgST {
    transform: scale(0.95);
  }
}

@media screen and (max-width: 1000px) {
  .gallery {
    grid-template-columns: repeat(4, 24%);
    grid-auto-rows: 30%;
    margin-inline: 20px;
  }
  .ImgST {
    transform: scale(0.95);
  }
}

.Font-Style{
  font-size: 15px;
  font-style: italic;
  max-width: 250px;
  overflow-wrap:break-word;
}

.Font-header{
  margin-left: 2rem;
  margin-top: 1.5rem;
  font-size: 25px;
}